body {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 100px;
}



p {
    font-size: 20px;
    font-weight: 400px;
}

.header-section {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-size: 100% 100%;
    height: 600px;
}

#section1 {
    text-align: center;
    padding-top: 10%;
    color: white;
    font-weight: 700px;
}

.button-link {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 30px;
    border-radius: 5%;
    color: white;
    font-weight: 300px;
}

.secend-part {
    margin-top: 10%;
    text-align: center;
}

.donate {
    display: flex;
    width: 40%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;

}

.box-apply {
    width: 50%;
    padding-left: 2%;
    margin: 2%;
    box-shadow: 10px 10px 10px blanchedalmond;
    border-radius: 5px;
}

#red {
    color: tomato;
    border: 2px solid tomato;
}

#sad-to-use-this {
    color: gray;
}

.distribute-money {
    margin-top: 10%;
    text-align: center;
    font-size: medium;
}

.container-box {
    display: flex;
}

.small-box {
    width: 30%;
    margin: 3%;
    padding: 3%;
    border-radius: 5%;
}

#color1 {
    background-color: rgba(128, 128, 128, 0.425);
}

#color2 {
    background-color: rgba(0, 255, 255, 0.459);
}

#color3 {
    background-color: rgba(238, 130, 238, 0.397);
}

.resize {
    display: flex;
    margin-top: 2%;
    padding: 10%;
}

#left-pad {
    margin-left: 5%;
}