body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 100px;
    color: white;
}

p {
    font-size: 30px;
    font-weight: 400px;
}

.header-section {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-size: 100% 100%;
    height: 600px;
}

#section1 {
    text-align: center;
    padding-top: 10%;
    color: black;
    font-weight: 700px;
}

.button-link {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 30px;
    border-radius: 5%;
    color: white;
    font-weight: 300px;
}